
<h2>Welcome</h2>

<p>This is a place for reviewing roller coasters. <a href="/register">Create an account</a> to write your own reviews!</p>

<h3>Some stats:</h3>

<ul class="stats">
    <li>Users: {{numUsers}}</li>
    <li>Reviews: {{numReviews}}</li>
    <li>Parks: {{numParks}}</li>
    <li>Coasters: {{numCoasters}}</li>
</ul>