
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Coaster Reviews</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <h1>Coaster Reviews</h1>
        {{{ body }}}
    </body>
</html>