
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Coaster Reviews</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div id="root">
            <header id="siteHeader">
                <h1 id="siteTitle">
                    <a href="/">Coaster Reviews</a>
                </h1>

                <nav id="siteNav">
                    <a class="navLink" href="/parks">Parks</a>
                    <a class="navLink" href="/coasters">Coasters</a>
                    <a class="navLink" href="/account">Account</a>
                </nav>
            </header>

            {{#if errorMessage}}
                <div class="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
            {{/if}}

            {{#if successMessage}}
                <div class="successMessage">
                    <p>{{successMessage}}</p>
                </div>
            {{/if}}
            
            {{{ body }}}
        </div>
    </body>
</html>