
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Coaster Reviews</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <header>
            <a href="/">
                <h1>Coaster Reviews</h1>
            </a>

            <nav>
                <a href="/parks">Parks</a>
                <a href="/coasters">Coasters</a>
                <a href="/account">Account</a>
            </nav>
        </header>
        
        {{{ body }}}
    </body>
</html>