
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Coaster Reviews</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div id="bg1">
        <div id="bg2">
        <div id="bg3">
            <div id="root">
                <header id="siteHeader">
                    <h1 id="siteTitle">
                        <a href="/">Coaster Reviews</a>
                    </h1>

                    <nav id="siteNav">
                        <a class="navLink" href="/parks">Parks</a>
                        <a class="navLink" href="/coasters">Coasters</a>
                        <a class="navLink" href="/account">Account</a>
                    </nav>
                </header>

                <div id="main">
                    {{#if errorMessage}}
                        <p class="errorMessage">{{errorMessage}}</p>
                    {{/if}}

                    {{#if successMessage}}
                        <p class="successMessage">{{successMessage}}</p>
                    {{/if}}
                
                    {{{ body }}}
                </div>
            </div>
        </div>
        </div>
        </div>
    </body>
</html>