
{{#if errorMessage}}
    <div class="alert alert-danger">{{errorMessage}}</div>
{{/if}}

<form method="POST" action="/login">
    <input name="username" type="text" placeholder="username">
    <input name="password" type="password" placeholder="password">
    <input type="submit" value="Login">
</form>