
{{#if errorMessage}}
    <div class="alert alert-danger">{{errorMessage}}</div>
{{/if}}

<form method="POST" action="/login">
    <input name="username" type="text" placeholder="username" required><br>
    <input name="password" type="password" placeholder="password" required><br>
    <input type="submit" value="Login"><br>
</form>

<p>Don't have an account? <a href="/register">Register</a></p>