
<h2>Login</h2>

<form method="POST" action="/login">
    <label for="username">Username</label><br>
    <input id="username" name="username" type="text" required><br>

    <label for="password">Password</label><br>
    <input id="password" name="password" type="password" required><br>
    
    <input type="submit" value="Login"><br>
</form>

<p>Don't have an account? <a href="/register">Register</a></p>