
<h2>Register</h2>

<form method="POST" action="/register">
    <label for="username">Username (5 to 30 characters)</label><br>
    <input id="username" name="username" type="text" required><br>

    <label for="password">Password (5 to 30 characters)</label><br>
    <input id="password" name="password" type="password" required><br>

    <label for="confirmPassword">Confirm password</label><br>
    <input id="confirmPassword" name="confirmPassword" type="password" required><br>

    <input type="submit" value="Register">
</form>