
{{#if errorMessage}}
    <div class="alert alert-danger">{{errorMessage}}</div>
{{/if}}

<form method="POST" action="/register">
    <input name="username" type="text" placeholder="username (5 to 30 characters)" required>
    <input name="password" type="password" placeholder="password (5 to 30 characters)" required>
    <input type="submit" value="Register">
</form>