
@import url('https://fonts.googleapis.com/css2?family=Mali&family=Montserrat&display=swap');

#root {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
}

#siteHeader, h2 {
    font-family: "Mali", cursive;
}