
#root {
    width: 75%;
    margin: auto;
}

#root > :not(h2):not(h3):not(li):not(p):not(form):not(.table), #siteTitle, h3, ul, .deleteButton {
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
}

h2, #main > h3, li, p, form, .table {
    margin: 5px 5px 5px 5px;
    padding: 5px 15px 5px 15px;
}

#siteHeader {
    text-align: center;
}

.navLink {
    margin-right: 30px;
}

.navLink:last-child {
    margin-right: 0;
}

table {
    min-width: 50%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border: 1px solid black;
}

input {
    padding: 5px;
}