
* {
    margin: 0;
}

#root {
    width: 75%;
    min-width: calc(100% - 220px);
    min-height: 100vh;
    margin: auto;
    border-left: 3px solid maroon;
    border-right: 3px solid maroon;
}

#root > *, #siteTitle, h3, ul, .deleteButton {
    padding: 5px 0px 5px 0px;
}

#siteHeader, h2, #main > h3, li, p, form, .table {
    padding: 15px 15px 15px 15px;
}

#main, ul {
    padding-top: 0px;
}

#siteHeader {
    text-align: center;
    padding-bottom: 15px;
}

.navLink {
    margin-right: 30px;
}

.navLink:last-child {
    margin-right: 0;
}

.reviewHeader {
    margin-bottom: 15px;
}

table {
    min-width: 50%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border: 1px solid black;
}

input {
    padding: 5px;
}